
@{
    ViewBag.Title = "Maps";
}

<div style="height:554px; border:2px solid #eee; display:inline-block; overflow:hidden;">
    <iframe style="position:relative; top:-46px; border:none;" src="https://www.google.com/maps/d/embed?mid=1cSBXBagksBncIKjvyCgFcJEUW2MaHz2O" width="1105" height="600"></iframe>
</div>
