
@{
    ViewBag.Title = "Visual";
}
<div>
    <h1>Visualization of Data</h1>
</div>
<div class="jumbotron">
    <p class="lead">Power Generated Graph</p>
    <img id="powerChart" src="@Url.Action("powerChart","Home")" />
</div>

